html {
    background: #444152;
}
* {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 10px;
    border-color: white white;
    color: #444152;
}
#searchQuery {
    display: flex;
    justify-content: center;
    margin-top: 30px;

}

.text {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    line-height: 0;
    padding-left: 10px;
}

h2 {
    margin-bottom: 10px;
}

.exerciseContainer {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    padding: 10px;
    margin-top: 5px;
    padding-top: 0;
    padding-bottom: 0;
}

.setInput {
    display: flex;
}

.input {
    width: 41px;
    height: 20px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-left: 5px;
    border: #fefefe;
    text-align: center;
}

footer {
    position: fixed;
    bottom: 0;
    margin-bottom: 30px
}

.attribute {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    font-size: 10px;
}


.modalContent {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.popupOptions {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

#closeTogether {
    display: flex;
    align-items: center;
}

.modalBtn {
    width: 30px;
}

#newSetBtn {
    width: 30px;
    height: 26px;
    margin-left: 5px;
}

.labeling {
    line-height: 0;
}

.smallLabel {
    margin-top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 9px;
    padding-left: 10px;
}

.everything {
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    background-color: #E4E4E6;
    border-radius: 10px;
    margin-top: 5px;
}
::placeholder {
    color: #444152;
    opacity: 80%;
    font-size: 10px;
}

.belowForReps {
    padding: 0;
    margin-top: 0;
    font-size: 9px;
    letter-spacing: 3px;
    text-align: end;
    padding-right: 43px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: row;
    justify-content: end;

}

.savedSets {
    margin: 0;
    padding-left: 15px;
}

input[type=text] {
    padding: 10px;
    width: 100%;
    margin-right: 10px;
    background-color: #CBCAD0;
    border: 1px solid #444152;
}

#searchSubmit {
    background-color: #CBCAD0;;
    border: 1px solid #444152;
    font-size: 10px;

}

button {
    border: #fefefe;
}

footer, button {
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#closeModal {
    border: none;
    width: 5px;
}

#addAttributes {
    width: fit-content;
}

.bold {
    font-weight: bold;
}

a {
    text-decoration: none;

}

.navBtn {
    border: 2px solid white;
    margin-bottom: 10px;
}

#createNew {
    background-color: #8E8AA5;
}

#seeSaved, #homeBtn {
    background-color: #CBCAD0;
}

#randomlyGen, #saveBtn {
    background-color: #E4E4E6;
}

#mainTitle {
    font-size: 15px;
}
.mainNav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.printedWorkout {
    background-color: #8E8AA5;
    line-height: 1;
    padding: 10px;
    margin: 5px;
    margin-top: 10px;
}

.printedWorkout p {
    color: #CBCAD0;
    font-size: 15px;
    font-weight: 100;
}

.savedTitle {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
}

.input-row {
    color: #CBCAD0;
    display: flex;
}

.workoutContainer h2, .print-here p {
    color: #CBCAD0;
}

.workoutContainer {
    display: none;
}

#genBtn {
    background-color: #CBCAD0;;
    border: 1px solid #444152;
    font-size: 10px;
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
}

#generateForm {
    line-height: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
}

.icon {
    width: 10px;
    height: 10px;
}

.noBorder {
    border: transparent !important;
}

.forStyle h2, .forStyle p {
    color: #CBCAD0;
    font-size: 20px;
}

.gif {
    width: 100px;
}